* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #081B29;
    color: #ffff;
    overflow-x: hidden;
    height: 100vh;
}

.navbar {
    display: flex;
    margin: auto;
    padding: 10px 10rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid #fff; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    
}

.navbar .logo {
    width: 5rem;
}


.nav-links a {
    color: #ffff;
    text-decoration: none;
    border: 1px solid #ffff;
    margin-right: 20px;
    padding: 10px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    border-radius: 5px;
}

.nav-links a:hover {
    padding: 12px;
    background-color: #17486c;
}

.nav-links a:active {
    background-color: #1e5c87;
}

main {
    padding: 3rem 10rem;
}

.info {
    height: 64.5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.info .text{
    width: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

/* CSS */
.justify-text {
    text-align: justify;
    width: 45vw;
    font-weight: normal;
}

.info h1 {
    font-size: 65px;
    color: rgb(141, 107, 90);
}

.info h3 {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
}

.about {
    border-radius: 5px;
}

.info span {
    color: rgb(239, 88, 34);
    letter-spacing: 1.5px;
}

.info a {
    text-decoration: none;
    color: #fff;
    background: rgb(141, 107, 90);
    margin: 26px 0;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: .4s ease;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.info a:hover {
    background: rgb(239, 88, 34);
}

.info a:active {
    background: rgb(234, 68, 8);
}

.image img {
    height: 25rem;
    
}

.footer {
    width: 100%;
    padding: 10px 10rem;
    text-align: left;
    border-top: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    position: absolute;
    bottom: 0;
    flex-direction: row;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: #081B29;
    margin: 0 10px;
    display: flex;  /* Make the anchor a flex container */
    align-items: center;  /* Vertically center both text and icon */
}

.footer ion-icon {
    font-size: 30px;
    color: #081B29;
    margin-right: 5px; /* Add spacing between icon and text */
    vertical-align: middle; /* Ensures vertical alignment */
    transition: .4s ease;
}

.footer ion-icon:hover {
    color: #17486c;
}


